{%extends 'allinclude.html'%}
 {% block title %}
    Mountain View Villa
		  {% endblock %}
{% block contant %}

    {% load static %}
<!--================Slider Start=================-->
   <section id="slider">
         <div class="slider_pic" style="background: url({%static 'Allfiles/photo/slider-1.jpg'%})">
            <div class="container">
                <div class="row justify-content-center text-center">
                   <div class="col-md-10">
                      <div class="slide_text">
                         <h1 >welcome <span class="late">to Mountain View Villa</span> </h1>
                         <p>Mountain View Villa is a luxurious retreat set in a picturesque location, offering guests a serene escape amidst stunning natural beauty. Designed for comfort and relaxation, the villa provides an ideal blend of modern amenities and nature's tranquility..</p>
                          <div class="slider-btn">
                               <a class="default-btn" href="#" >explore</a>
                          </div>
                        </div>
                   </div>
                </div>
                <div class="pre_btn">
                   <span><i class="fas fa-angle-left"></i></span>
                </div>
               <div class="next_btn">
               <span><i class="fas fa-angle-right"></i></span>
               </div>
            </div>
         </div>

         <div class="slider_pic" style="background: url({%static 'Allfiles/photo/slider-2.jpg'%})">
            <div class="container">
                <div class="row justify-content-center text-center">
                   <div class="col-md-10">
                      <div class="slide_text">
                         <h2>Enjoy a luxury experience</h2>
                         <h4> Mountain View Villa</h4>
                          <div class="slider-btn">
                               <a class="default-btn" href="#" >explore</a>
                          </div>
                        </div>
                   </div>
                </div>
                <div class="pre_btn">
                   <span><i class="fas fa-angle-left"></i></span>
                </div>
               <div class="next_btn">
               <span><i class="fas fa-angle-right"></i></span>
               </div>
            </div>
         </div>

         <div class="slider_pic" style="background: url({%static 'Allfiles/photo/slider-3.jpg'%})">
            <div class="container">
                <div class="row justify-content-center text-center">
                   <div class="col-md-10">
                      <div class="slide_text">
                         <h2>Spend Quality Holidays With Us</h2>
                         <p>Mountain View Villa Located at 116 Tarawally Drive, Malama, Lumley Freetown Sierra Leone.</p>
                          <div class="slider-btn">
                               <a class="default-btn" href="#" >explore</a>
                          </div>
                        </div>
                   </div>
                </div>
                <div class="pre_btn">
                   <span><i class="fas fa-angle-left"></i></span>
                </div>
               <div class="next_btn">
               <span><i class="fas fa-angle-right"></i></span>
               </div>
            </div>
         </div>
   </section>


    <!--================Book A Table Area =================-->
    <section id="Book_Table">
       <div class="container">
          <div class="row">
             <div class="col-lg-12">
               <form>
                  <div class="Book_info">
                     <div class="Table_item">
                        <input type="text" placeholder="Check in" class="Check_in" >
                        <span class="open"><i class="far fa-calendar-alt"></i></span>
                     </div>
                      <div class="Table_item" >
                        <input type="text" placeholder="Check out" class="Check_out" >
                        <span class="open1"><i class="far fa-calendar-alt"></i></span>
                     </div>
                     <div class="Table_item">
                         <select name="adults">
                            <option>ADULTS</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                         </select>
                     </div>
                     <div class="Table_item">
                           <select name="children">
                              <option>CHILDREN</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                           </select>
                      </div>
                      <div class="Table_item">
                         <div class="book_btn">
                           <a href="#">Check Availability</a>
                         </div>
                    </div>
                  </div>
               </form>
             </div>
          </div>
       </div>
    </section>

     <!--================About Part=================-->
     <section id="about">
        <div class="container">
           <div class="row">
              <div class="col-lg-8">
                 <div class="about_video">
                    <img src="{%static 'Allfiles/Photo/video_pic1.jpg'%}" alt="img">
                     <a data-video-id="q0wR-QcVH0U" class="video_btn" ><i class="far fa-play-circle"></i></a>
                 </div>
              </div>
               <div class="col-lg-4">
                 <div class="About_info">
                   <h2 class="about-title">About Us</h2>
                      <p>Mountain View Villa is a luxurious retreat set in a picturesque location, offering guests a serene escape amidst stunning natural beauty. Designed for comfort and relaxation, the villa provides an ideal blend of modern amenities and nature's tranquility. Mountain View Villa is typically situated in a scenic area surrounded by breathtaking mountain landscapes, providing an ideal setting for nature lovers and outdoor enthusiasts. The villa's location offers easy access to hiking trails, nature walks, and other outdoor activities, while still being conveniently located near local attractions and amenitie</p>
                      <p>Guests consistently praise Mountain View Villa for its stunning location, exceptional service, and luxurious accommodations. The villa is highly rated on various travel platforms, with many guests highlighting the scenic views, peaceful atmosphere, and high-quality amenities. Whether you’re looking for a romantic getaway, a family vacation, or an adventure-filled holiday, Mountain View Villa promises an unforgettable experience in the lap of nature. .</p>
                      <p>Located at 116 Tarawally Drive, Malama, Lumley Freetown Sierra Leone, West Africa.</p>
                     <div class="about_btn">
                     <a href="#" class="read-more">READ MORE </a>
                     </div>
                 </div>
              </div>
           </div>
        </div>
     </section>

    <!--================EXPLOR OUR ROOMS=================-->
    <section id="OUR_ROOMS">
       <div class="container">
          <div class="row justify-content-center text-center">
             <div class="col-lg-8">
                <div class="ROOMS_Title">
                   <h2>EXPLOR OUR ROOMS</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
             </div>
          </div>
          <div class="ROOMS_info">
           <div class="row room_slide">
                <div class="col-lg-4">
                   <div class="rooms-view">
                     <div class="ROOMS_pic">

                       <img src="{%static 'Allfiles/Photo/room-1.jpg'%}" alt="img">
                       <div class="btn ">
                          <div class="room_btn">
                            <a href="#">Booking Now</a>
                          </div>
                       </div>
                     </div>
                     <div class="ROOMS_text text-center justify-content-center">
                         <h3> Couple Room </h3>
                         <span><i class="fas fa-dollar-sign"></i>300</span>
                         <p>Have a Good stay with your partner, life is all about Happiness! with us you are safe...</p>
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                     </div>
                  </div>
                </div>
                <div class="col-lg-4">
                   <div class="rooms-view">
                     <div class="ROOMS_pic">
                       <img src=" {%static 'Allfiles/Photo/room-2.jpg'%}" alt="img">
                       <div class="btn ">
                          <div class="room_btn">
                            <a href="#">Booking Now</a>
                          </div>
                       </div>
                     </div>
                     <div class="ROOMS_text text-center justify-content-center">
                         <h3> Single Room </h3>
                         <span><i class="fas fa-dollar-sign"></i>250</span>
                         <p>Single Life matter, have a refreshing nature and explore your experience as you loop though the Mountain View Villa,</p>
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                     </div>
                  </div>
                </div>
                <div class="col-lg-4">
                   <div class="rooms-view">
                     <div class="ROOMS_pic">
                       <img src="{%static 'Allfiles/Photo/room-3.jpg'%}" alt="img">
                       <div class="btn ">
                          <div class="room_btn">
                            <a href="#">Booking Now</a>
                          </div>
                       </div>
                     </div>
                     <div class="ROOMS_text text-center justify-content-center">
                         <h3> Double Room </h3>
                         <span><i class="fas fa-dollar-sign"></i>310</span>
                         <p>With Friends and Bosom, have that quality moment together, and loop the Land Scape of Mountain View Villa</p>
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                     </div>
                  </div>
                </div>
                <div class="col-lg-4">
                   <div class="rooms-view">
                     <div class="ROOMS_pic">
                       <img src="{%static 'Allfiles/Photo/room-4.jpg'%}" alt="img">
                       <div class="btn ">
                          <div class="room_btn">
                            <a href="#">Booking Now</a>
                          </div>
                       </div>
                     </div>
                     <div class="ROOMS_text text-center justify-content-center">
                         <h3> Luxury Room </h3>
                         <span><i class="fas fa-dollar-sign"></i>350</span>
                         <p>Have a wonderful experience with us at Mountain View Villa, we still encourage you to invite other to enjoy the ame moment at Mountain View Villa</p>
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                     </div>
                  </div>
                </div>
                <div class="col-lg-4">
                   <div class="rooms-view">
                     <div class="ROOMS_pic">
                       <img src="{%static 'Allfiles/Photo/room-5.jpg'%}" alt="img">
                       <div class="btn ">
                          <div class="room_btn">
                            <a href="#">Booking Now</a>
                          </div>
                       </div>
                     </div>
                     <div class="ROOMS_text text-center justify-content-center">
                         <h3>Family Room </h3>
                         <span><i class="fas fa-dollar-sign"></i>400</span>
                         <p>Spacious and convenience for family, convinue to enjoy this best moment at Mountain View Villa, you will surely enjoy your staying with us</p>
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                     </div>
                  </div>
                </div>
                <div class="col-lg-4">
                   <div class="rooms-view">
                     <div class="ROOMS_pic">
                       <img src="{%static 'Allfiles/Photo/room-6.jpg'%}" alt="img">
                       <div class="btn ">
                          <div class="room_btn">
                            <a href="#">Booking Now</a>
                          </div>
                       </div>
                     </div>
                     <div class="ROOMS_text text-center justify-content-center">
                         <h3> Presidential Room </h3>
                         <span><i class="fas fa-dollar-sign"></i>300</span>
                         <p>For Diplomat, swify and convenience best view, we appreciate your staying with us </p>
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                     </div>
                  </div>
                </div>
               </div>
           </div>
       </div>
    </section>

    <!--================OUR AWESOME SERVICES=================-->
    <section id="Service">
          <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-12">
                     <div class="Service_title">
                         <h2>OUR AWESOME SERVICES </h2>
                     </div>
                </div>
            </div>
         </diV>
         <div class="container">
              <div class="row">
                 <div class="col-lg-7">
                     <div id="newDom">
                           <div class="Service_img tab-contx" id="swim" >
                              <img src=" {%static 'Allfiles/Photo/service-1.png'%}" alt="img">
                           </div>
                           <div class="Service_img tab-contx hide" id="spa">
                              <img src=" {%static 'Allfiles/Photo/service-2.png'%}" alt="img">
                            </div>
                            <div class="Service_img tab-contx hide" id="Restaurant">
                              <img src=" {%static 'Allfiles/Photo/service-3.png'%}" alt="img">
                            </div>
                            <div class="Service_img tab-contx hide" id="Conference">
                              <img src=" {%static 'Allfiles/Photo/service-4.png'%}" alt="img">
                            </div>
                     </div>
                </div>

                 <div class="col-lg-5">
                     <div class="Service_menu">
                        <ul class="tabs" id="example">
                             <li class="Service_items" rel="#swim">
                                 <a href="#swim">
                                    <span class="service-icon">

                                        <img src="{%static 'Allfiles/Photo/swim.png'%}" alt="img">
                                    </span>
                                    <h5 class="service-menu-title" rel="#swim">House Keeping</h5>
                                    <p class="text"><span>House Keeping</span> Daily Housekeeping: Regular cleaning and tidying of guest rooms, including bed making, dusting, and vacuuming. Turn-Down Service: Evening service to prepare the room for the night, including refreshing towels and linens. Laundry and Dry Cleaning: Pick-up and delivery of guest laundry and dry cleaning. </p>
                                </a>
                             </li>
                              <li class="Service_items1" rel="#spa">
                                 <a href="#spa">
                                    <span class="service-icon" >
                                        <img src="{%static 'Allfiles/Photo/spa.png'%}" alt="img">
                                    </span>
                                    <h5 class="service-menu-title" rel="#spa">Guest Service</h5>
                                    <p class="text"><span>Guest Service</span> 24-Hour Front Desk: Assistance available around the clock for check-ins, check-outs, and guest inquiries. Concierge Service: Personalized assistance with travel arrangements, activity bookings, restaurant reservations, and special requests. Bellhop/Porter Service: Assistance with luggage during check-in and check-out. </p>
                                </a>
                             </li>
                              <li class="Service_items2"  rel="#Restaurant">
                                 <a  href="#Restaurant">
                                    <span class="service-icon">

                                        <img src=" {%static 'Allfiles/Photo/restaurent.png'%}" alt="">
                                    </span>
                                    <h5 class="service-menu-title"  rel="#Restaurant">Restaurant & Room Service</h5>
                                    <p class="text"><span>Restaurant & Room Service</span>In-Room Dining: Guests can order meals and beverages to be delivered to their rooms. Available 24/7 or during specific hours, depending on the villa’s policy. Special Requests: Delivery of additional amenities like extra pillows, blankets, toiletries, and more..</p>
                                </a>
                             </li>
                              <li class="Service_items3" rel="#Conference">
                                 <a href="#Conference">
                                    <span class="service-icon">

                                        <img src="  {%static 'Allfiles/Photo/conference.png'%}" alt="">
                                    </span>
                                    <h5 class="service-menu-title" rel="#Conference">Conference Hall</h5>
                                    <p class="text"><span>Conference</span> Event Planning: Coordination of special events, meetings, weddings, and parties, including delivery of catering, decorations, and other event-related services. Business Services: Delivery of office supplies, printing, and courier services for business travelers.. </p>
                                </a>
                             </li>
                        </ul>
                     </div>
                 </div>
              </div>
         </div>
    </section>


<!--================OUR GALLERY=================-->
<section id="GALLERY">
   <div class="container">
       <div class="row text-center justify-content-center">
          <div class="col-lg-8">
              <div class="GALLERY_title">
                <h2>OUR GALLERY</h2>
                <p>Mountain View villa is equipped with a variety of amenities designed to enhance the guest experience: Outdoor Pool: A beautifully landscaped pool area offers a perfect spot to relax and take in the surrounding views. Spa and Wellness Center: Guests can indulge in a range of treatments and therapies designed to rejuvenate the mind and body. Dining: An on-site restaurant serves delicious local and international cuisine, prepared with fresh, locally sourced ingredients. Room service is also available for those who prefer to dine in the comfort of their accommodation. Fitness Center: A well-equipped fitness center allows guests to maintain their workout routines during their stay.</p>
               </div>
          </div>
       </div>
       <div class="GALLERY_view">
          <div class="row GALLERY_slider">
             <div class="col-lg-3">
                 <div class="GALLERY_info" >
                    <div class="GALLERY_pic">
                       <img src="{%static 'Allfiles/Photo/gallery-1.jpg'%}" alt="img">
                     </div>
                     <div class="gallary_overly text-center justify-content-center"  href="{%static 'Allfiles/photo/gallery-1-pop.jpg'%}">
                       <i class="fas fa-search-plus"></i>
                     </div>
                  </div>
             </div>
             <div class="col-lg-3">
                 <div class="GALLERY_info">
                    <div class="GALLERY_pic">
                       <img src=" {%static 'Allfiles/Photo/gallery-2.jpg'%}" alt="img">
                     </div>
                      <div class="gallary_overly text-center justify-content-center"  href="{%static 'Allfiles/photo/gallery-2-pop.jpg'%}">
                       <i class="fas fa-search-plus"></i>
                     </div>
                  </div>
             </div>
             <div class="col-lg-3">
                 <div class="GALLERY_info">
                    <div class="GALLERY_pic">
                       <img src=" {%static 'Allfiles/Photo/gallery-3.jpg'%}" alt="img">
                     </div>
                      <div class="gallary_overly text-center justify-content-center"  href="{%static 'Allfiles/photo/gallery-3-pop.jpg'%}">
                       <i class="fas fa-search-plus"></i>
                     </div>
                  </div>
             </div>
             <div class="col-lg-3">
                 <div class="GALLERY_info">
                    <div class="GALLERY_pic">
                       <img src=" {%static 'Allfiles/Photo/gallery-3.jpg'%}" alt="img">
                     </div>
                      <div class="gallary_overly text-center justify-content-center" href="{%static 'Allfiles/photo/gallery-3-pop.jpg'%}">
                       <i class="fas fa-search-plus"></i>
                     </div>
                  </div>
             </div>
             <div class="col-lg-3">
                 <div class="GALLERY_info" href="{%static 'Allfiles/photo/gallery-1-pop.jpg'%}">
                    <div class="GALLERY_pic">
                       <img src=" {%static 'Allfiles/Photo/gallery-1.jpg'%}" alt="img">
                     </div>
                      <div class="gallary_overly text-center justify-content-center">
                       <i class="fas fa-search-plus"></i>
                     </div>
                  </div>
             </div>
             <div class="col-lg-3">
                 <div class="GALLERY_info" href="{%static 'Allfiles/photo/gallery-2-pop.jpg'%}">
                    <div class="GALLERY_pic">
                       <img src=" {%static 'Allfiles/Photo/gallery-2.jpg'%}" alt="img">
                     </div>
                      <div class="gallary_overly text-center justify-content-center">
                       <i class="fas fa-search-plus"></i>
                     </div>
                  </div>
             </div>
             <div class="col-lg-3">
                 <div class="GALLERY_info" href="{%static 'Allfiles/photo/gallery-3-pop.jpg'%}">
                    <div class="GALLERY_pic">
                       <img src="{%static 'Allfiles/Photo/gallery-3.jpg'%}" alt="img">
                     </div>
                      <div class="gallary_overly text-center justify-content-center">
                       <i class="fas fa-search-plus"></i>
                     </div>
                  </div>
             </div>
         </div>
       </div>
   </div>
</section>
    <!--================Counter Part Start=================-->

    <section id="Counter" style="background:url({%static 'Allfiles/photo/bg1.jpg'%})">
       <div class="container">
          <div class="row">
             <div class="Counter_info">
                <div class="row">
                     <div class="col-lg-3 text-center">
                        <div class="Counter_info1">
                            <span><i class="fas fa-user"></i></span>
                            <h2 class="counter">1100+</h2>
                            <p>Happy Clients </p>
                        </div>
                     </div>
                     <div class="col-lg-3 text-center">
                        <div class="Counter_info1">
                            <span><i class="fas fa-user-friends"></i></span>
                            <h2 class="counter">700+</h2>
                            <p>New Friendships </p>
                        </div>
                     </div>
                     <div class="col-lg-3 text-center">
                        <div class="Counter_info1">
                            <span><i class="fas fa-star"></i></span>
                            <h2 class="counter">300</h2>
                            <p>Five Start Ratings</p>
                        </div>
                     </div>
                     <div class="col-lg-3 text-center">
                        <div class="Counter_info1">
                            <span ><i class="fas fa-coffee"></i></span>
                            <h2 class="counter">900+</h2>
                            <p>Served Breakfast</p>
                        </div>
                     </div>
               </div>
             </div>
          </div>
       </div>
    </section>
    <!--================Counter Part End=================-->

   <!--================Our Special Staff Part start =================-->
   <section id="Staff">
   <div class="container">
       <div class="row text-center justify-content-center">
          <div class="col-lg-8">
              <div class="Staff_title">
                <h2>OUR SPECIAL STAFF</h2>
                <p>Mountain View Villa offers a range of services designed to enhance guest comfort and convenience. Here is a list of services typically provided, including delivery options available to guests:</p>
               </div>
          </div>
       </div>
       <div class="Staff_view">
          <div class="row Staff_slider">
             <div class="col-lg-3 Staff_info">
                    <div class="Staff_pic">
                       <img src="{%static 'Allfiles/Photo/team1.jpg'%}" alt="img">
                     </div>
                     <div class="Staff_overly">
                         <div class="Staff_part1 text-center">
                            <h5>Mountain View Villa</h5>
                            <h6>Manager</h6>
                         </div>
                         <div class="Staff_part2 text-center">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                         </div>
                     </div>
             </div>
              <div class="col-lg-3 Staff_info">
                    <div class="Staff_pic">
                       <img src="{%static 'Allfiles/Photo/team2.jpg'%}" alt="img">
                     </div>
                     <div class="Staff_overly">
                         <div class="Staff_part1 text-center">
                            <h5>Mountain View Villa</h5>
                            <h6>Chif Reciption Officer</h6>
                         </div>
                         <div class="Staff_part2 text-center">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                         </div>
                     </div>
             </div>
              <div class="col-lg-3 Staff_info">
                    <div class="Staff_pic">
                       <img src="{%static 'Allfiles/Photo/team3.jpg'%}" alt="img">
                     </div>
                     <div class="Staff_overly">
                         <div class="Staff_part1 text-center">
                            <h5>Mountain View Villa</h5>
                            <h6>Master Chef</h6>
                         </div>
                         <div class="Staff_part2 text-center">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                         </div>
                     </div>
             </div>
              <div class="col-lg-3 Staff_info">
                    <div class="Staff_pic">
                       <img src="{%static 'Allfiles/Photo/team4.jpg'%}" alt="img">
                     </div>
                     <div class="Staff_overly">
                         <div class="Staff_part1 text-center">
                            <h5>Mountain View Villa</h5>
                            <h6>Housekeeping</h6>
                         </div>
                         <div class="Staff_part2 text-center">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                         </div>
                     </div>
             </div>
              <div class="col-lg-3 Staff_info">
                    <div class="Staff_pic">
                       <img src="{%static 'Allfiles/Photo/team5.jpg'%}" alt="img">
                     </div>
                     <div class="Staff_overly">
                         <div class="Staff_part1 text-center">
                            <h5>Mountain View Villa</h5>
                            <h6>Manager</h6>
                         </div>
                         <div class="Staff_part2 text-center">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                         </div>
                     </div>
             </div>
         </div>
       </div>
   </div>
</section>
    <!--================Our Special Staff Part end =================-->
 {% endblock %}